@model String
<nav class="NavBar">

    <div>
        <a class="boton_menu" href="/Eleve/Accueil">Accueil</a>        
        <a class="boton_menu" href="/Eleve/Message">Messages</a>
        
    </div>
    

    <a class="boton_menu2" href=""> @Model</a>

</nav>