@model String
<nav class="NavBar">

    <div>
        <a class="boton_menu" href="/Enseignant/Accueil">Accueil</a>
        <a class="boton_menu" href="/Enseignant/CreerEleve">Creer Eleve</a>
        <a class="boton_menu" href="/Enseignant/Message">Messages</a>      
    </div>
    

    <a class="boton_menu2"  href=""> @Model</a>

</nav>